<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jason Avalos -- Personal Portfolio</title>
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/showcase.css" />
    <link rel="stylesheet" type="text/css" href="../assets/main.css"
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    </script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">Jason Avalos</h1>
          </div>
          <hr />

          <div class="columns is-multiline has-text-centered">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                &emsp;&emsp;<strong
                  >Jason is currently a graduate student at the University of San Diego where he is pursuing a Master of Science in 
                  Applied Data Science.</strong
                >
              </p>
              <br />
              <p>
                Showcase was built from the ground up with Bulma to be fast and
                responsive out of the box with all source files well documented
                for easy to customization. The Showcase template gives you a
                personal space to share what you are all about as a creative
                designer, developer, photographer, and more!
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Phone Number</strong>
                  </p>
                  <p class="subheading">
                    619-371-8561
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Email</strong>
                  </p>
                  <a href="mailto:javalosmorfin@sandiego.edu">
                  <p class="subheading">
                    javalosmorfin@sandiego.edu
                  </p>
                </a>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>GitHub</strong>
                  </p>
                  <a href="https://github.com/jsonavalos">
                  <p class="subheading">
                    github.com/jsonavalos
                  </p>
                </a>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image has-text-centered " data-aos="fade-left">
              <img
                class="is-rounded"
                src="../assets/images/Jason-Avalos.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->

      <div class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
      

            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                View My Resume
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <a href="../assets/files/Resume for Data Science.pdf" download="JasonAvalosResume.pdf">
                <button class="button">
                  Download Resume<a class="fad fa-download fa-lg"></a>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Services Content -->
      <div class="section-color services" id="services">
        <div class="container">

    

          <div class="columns is-multiline">
            <div
              class="column is-12 about-me"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
            <hr/>
    
              <h1 class="title has-text-centered section-title">Education</h1>
          
       
              <hr/>

              <div class="columns is-multiline is-mobile">
                <div class="column is-half has-text-centered">
                    <img
                      class="is-rounded"
                      src="../assets/images/Jason-Avalos.png"
                      alt=""
                    />
                </div>

                
                <div class="column is-half ">
                  <p class="heading">
                    <strong>Master of Science in Applied Data Science</strong>
                  
                   <code> <em>University of San Diego</em></code>
                   <ul>
                      <li>Expected Graduation: June, 2026</li>
                   </ul>
                  </p>
<br>
                  <p class="heading">
                    <strong>Bachelor of Science in Mathematics-Computer Science</strong>
                   <code> <em>UC San Diego</em></code>
                   <ul>
                    <li>Degree Conferred: June, 2020</li>
                 </ul>
                  </p>

                  <br>
                  <p class="heading">
                    <strong>Associate Degree in Mathematics</strong>
                   <code> <em>Southwestern College</em></code>
                   <ul>
                    <li>Degree Conferred: June, 2017</li>
                 </ul>
                  </p>

                  
                </div>

             
              </div>
              


                

            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fad fa-meteor fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>


              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-paint-brush fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>

              
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-rocket fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
            </div>
            <hr />
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-upload fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-bus fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-code fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Services Content -->
      <!-- Begin Skills Content -->
      <div class="section-light skills" id="skills">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">Skills</h1>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1>Adobe Experience Design</h1>
              <progress class="progress" value="70" max="100">30%</progress>
              <h1>Adobe After Effects</h1>
              <progress class="progress" value="65" max="100">30%</progress>
              <h1>Visual Studio Code</h1>
              <progress class="progress" value="58" max="100">45%</progress>
              <h1>Sketch</h1>
              <progress class="progress" value="90" max="100">60%</progress>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1>HTML</h1>
              <progress class="progress" value="85" max="100">30%</progress>
              <h1>CSS</h1>
              <progress class="progress" value="95" max="100">30%</progress>
              <h1>VueJS</h1>
              <progress class="progress" value="70" max="100">45%</progress>
              <h1>React</h1>
              <progress class="progress" value="60" max="100">60%</progress>
            </div>
          </div>
        </div>
      </div>
      <!-- End Skills Content -->
      <!-- Begin Work Content -->
      <div class="section-dark my-work" id="my-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">My Work</h1>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=0');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=10');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=20');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=30');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=40');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=50');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=60');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=70');"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Content -->
      <!-- Begin Contact Content -->
    
      <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div class="footer">
      <p>
       <p>Text</p>
      </p>
    </div>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>