<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jason Avalos -- Personal Portfolio</title>
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/showcase.css" />
    <link rel="stylesheet" type="text/css" href="../assets/main.css"
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    </script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">Jason Avalos</h1>
          </div>
          <hr />

          <div class="columns is-multiline has-text-centered">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                &emsp;&emsp;<strong
                  >Jason is currently a graduate student at the University of San Diego where he is pursuing a Master of Science in 
                  Applied Data Science.</strong
                >
              </p>
              <br />
              <p>
                Jason has a solid foundation in Mathematics and Computer Science from previous experiences, which led him to discover a passion for Data Science. 
                He enjoys using his acquired skills in a balanced and meaningful way. 
                As someone new to the field, he is eager to learn, grow, and collaborate on exciting projects.
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Phone Number</strong>
                  </p>
                  <p class="subheading">
                    619-371-8561
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Email</strong>
                  </p>
                  <a href="mailto:javalosmorfin@sandiego.edu">
                  <p class="subheading">
                    javalosmorfin@sandiego.edu
                  </p>
                </a>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>GitHub</strong>
                  </p>
                  <a href="https://github.com/jsonavalos">
                  <p class="subheading">
                    github.com/jsonavalos
                  </p>
                </a>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image has-text-centered " data-aos="fade-left">
              <img
                class="is-rounded"
                src="../assets/images/Jason-Avalos.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->

      <div class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
      

            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                View My Resume
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <a href="../assets/files/JasonAvalosResume.pdf" download="JasonAvalosResume.pdf">
                <button class="button">
                  Download Resume<a class="fad fa-download fa-lg"></a>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Services Content -->
      <div class="section-color services" id="services">
        <div class="container">

    

          <div class="columns is-multiline">
            <div
              class="column is-12 about-me"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
            <hr/>
    
              <h1 class="title has-text-centered section-title">Education</h1>
          
       
              <hr/>

              <div class="columns is-multiline is-mobile" data-aos="fade-left">
                <div class="column is-half has-text-centered">
                    <img
                      class="is-rounded"
                      src="../assets/images/Heatmap.png"
                      alt=""
                      width="450px"
                    />
                </div>
<br/>
                
                <div class="column is-half ">
                  <p class="heading">
                    <strong>Master of Science in Applied Data Science</strong>
                  
                   <code> <em>University of San Diego</em></code>
                   <ul>
                      <li>Expected Graduation: June, 2026</li>
                   </ul>
                  </p>
<br>
                  <p class="heading">
                    <strong>Bachelor of Science in Mathematics-Computer Science</strong>
                   <code> <em>UC San Diego</em></code>
                   <ul>
                    <li>Degree Conferred: June, 2020</li>
                 </ul>
                  </p>

                  <br>
                  <p class="heading">
                    <strong>Associate Degree in Mathematics</strong>
                   <code> <em>Southwestern College</em></code>
                   <ul>
                    <li>Degree Conferred: June, 2017</li>
                 </ul>
                  </p>

                  
                </div>

             
              </div>
              

              <hr/>
    
              <h1 class="title has-text-centered section-title">Technical Skills</h1>
          
       
              <hr/>
                

            <div class="columns is-12" data-aos="fade-in">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fad fa-meteor fa-3x"></i>
             

                <p class="heading">
                  <strong>Languages</strong>
              
                 <ul>
                  <li>Python</li>
                  <li>R</li>
                  <li>SQL</li>
                  <li>Java</li>
                  <li>JavaScript</li>
               </ul>
                </p>
          
              </div>


              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-paint-brush fa-3x"></i>
            
                <p class="heading">
                  <strong>Technologies</strong>
              
                 <ul>
                  <li>pandas</li>
                  <li>NumPy</li>
                  <li>Scikit-learn</li>
                  <li>Matplotlib</li>
                  <li>Seaborn</li>
                  <li>ggplot2</li>
                  <li>Markdowns</li>
               </ul>
                </p>
              </div>

              
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-rocket fa-3x"></i>
             
                <p class="heading">
                  <strong>Tools</strong>
              
                 <ul>
                  <li>Unix Commands</li>
                  <li>Git</li>
                  <li>Jupyter</li>
                  <li>PyCharm</li>
                  <li>RStudio</li>
                  <li>Microsoft Excel</li>
               </ul>
                </p>
              </div>
            </div>
          
            <hr/>
            <h1 class="title has-text-centered section-title">Projects</h1>
            <hr/>

            <div class="is-2 right-image has-text-centered " data-aos="fade-left">
              <section class="section">
                <div class="container has-text-centered">
        
                    <div class="columns is-centered" style="padding: 2rem">
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-2by1">
                                        <img src="../assets/images/hs.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">Student Dataset Analysis</p>
                                            <p class="subtitle is-6">
                                              <a href="https://github.com/jsonavalos/student-dataset-analysis" target="_blank">GitHub Repository</a>

                                            </p>
                                        </div>
                                    </div>
        
                                    <div class="content">
                                      <strong>Objective:</strong> Prepare dataset for analysis, provide visualizations and measures of centrality, and conduct exploratory data analysis.                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-2by1">
                                        <img src="../assets/images/ecommerce.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">Capstone Project</p>                                        
                                            <p class="subtitle is-6">
                                              <a href="https://github.com/darth-franky/ADS500B/" target="_blank">GitHub Repository</a>

                                            </p>
                                        </div>
                                    </div>
        
                                    <div class="content">
                                      <strong>Objective:</strong> Co-produced a model with 84% accuracy to make data-driven recommendations to increase
                                      customer engagement using an e-commerce dataset.                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-2by1">
                                        <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">Under Construction</p>
                                            <p class="subtitle is-6">Link</p>
                                        </div>
                                    </div>
        
                                    <div class="content">
                                        Under Construction
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


            <hr/>
    
            <h1 class="title has-text-centered section-title">Relevant Coursework</h1>
            <hr/>
            <strong>•	Probability and Statistics for Data Science</strong>
            •	Data Science Programming
            <strong>•	Calculus (Vector, Differential, Multivariable), Linear Algebra, Trigonometry, Discrete Mathematics, Computational Mathematics, Probability, and Statistics.</strong>
            •	Software Engineering Project Based Courses.
            <strong> •	The Data Science Course: Complete Data Science Bootcamp 2024</strong>
            •	The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert
            <strong>  •	Complete A.I. & Machine Learning, Data Science Bootcamp</strong>
            
            
            </section>
            <br>
            <br>
            <br>
            <br>
            </div>
          </div>
        </div>
      </div>
      <!-- End Services Content -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
  
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>